
.btn {
  text-transform: uppercase;
  background: transparent;
  color: #64ffda;
  padding: 10px;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid#64ffda;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.btn:hover {
  color:white;
  background-color: rgba(100, 255, 218,0.5);
  
}
.btn.intro{
  margin: 100px 0;
  padding: 1rem 1.5rem;
  letter-spacing: 0.25rem;
}